@use "../utilities" as *;

/**----------------------------------------
START: Home 5 css
----------------------------------------*/

//hero-5-section
.hero-5-section {
    background: linear-gradient(285.01deg, #0030AD -0.92%, #001447 100%);
    height: initial;
    padding: 263px 0 274px 0;

    @include breakpoint(md) {
        padding: 80px 0 274px 0;
    }

    .hero-content {
        .section-title {
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
            line-height: 60px;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-bottom: 20px;

            @include breakpoint(lg) {
                font-size: 42px;
                line-height: 52px;
            }

            @include breakpoint(sm) {
                font-size: 27px;
                line-height: 37px;
            }
        }

        .dec {
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 30px;
            color: rgb(255 255 255 / 60%);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding-bottom: 22px;
            margin-bottom: 40px;

            @include breakpoint(md) {
                br {
                    display: none;
                }
            }
        }

        .hero-btn-wrap {
            .mt-primary-btn {
                background-color: #FFFFFF;
                color: #030611;

                &:hover {
                    color: #FFFFFF;
                }
            }

            .dec-2 {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                margin-bottom: 0;
            }
        }
    }

    .hero-img-wrap {
        width: initial;
        height: initial;
        top: calc(50% + 0px);
    }
}

// Footer-7 style
.footer-7__area-common {
    position: relative;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #F1F1F1;
    border-radius: 40px 40px 0px 0px;

    @include breakpoint(md) {
        padding-bottom: 0;
    }

    @include breakpoint(md) {
        padding-top: 100px;
    }

    @include breakpoint(sm) {
        padding-top: 80px;
    }

    .col-6 {
        @media (max-width:480px) {
            flex-shrink: 0;
            width: 100%;
            max-width: 100%;
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            margin-top: var(--bs-gutter-y);
        }
    }
}

.footer-7 {
    &__copyright {
        background: #FFFFFF;
        border-radius: 6px;
        padding: 27px 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: rgb(3 6 17 / 70%);
            margin-bottom: 0;
        }
    }

    &__widget {
        margin-bottom: 40px;

        .footer-4__widget-title {
            .title-footer {
                font-family: 'Inter Tight';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 26px;
            }
        }

        &.footer-7__widget-item-2 {
            padding-left: 40px;
            margin-top: 0;

            @include breakpoint(lg) {
                padding-left: 0;
            }

        }

        &.footer-7__widget-item-3 {
            padding-left: 80px;
            margin-top: 0;

            @include breakpoint(lg) {
                padding-left: 30px;
            }

            @include breakpoint(lg) {
                padding-left: 0px;
            }
        }

        &.footer-7__widget-item-4 {
            margin-top: 0;
            padding-left: 38px;

            @include breakpoint(xl) {
                padding-left: 0px;
            }
        }

        &-title {

            h3 {
                font-size: 24px;
                padding-top: 17px;
                color: #fff;
                font-weight: 700;
                margin-bottom: 36px;


                @include breakpoint(lg) {
                    font-size: 18px;
                }
            }
        }

        &-description {
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                color: var(--rr-common-white);
                opacity: 0.7;
                margin-bottom: 0;
            }
        }
    }

    &__logo {
        img {
            max-width: 144px;
        }
    }

    &__contact {
        p {
            color: #030611;
            opacity: 0.7;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 21px;
        }

        & span {
            font-size: 15px;
            color: #0030AD;
            font-weight: 500;
            line-height: 22px;

            & svg {
                margin-right: 10px;
            }
        }

        & a {
            font-size: 15px;
            font-weight: 500;
            color: #030611;
            line-height: 22px;
            display: block;
            margin-left: 28px;
            transition: .3s;

            &:hover {
                color: #0030AD;
            }
        }
    }

    &__link {
        ul {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 13px;
            list-style: none;

            li {
                font-family: 'Inter Tight';
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;
                font-style: normal;
                position: relative;
                color: var(--rr-common-white);

                &:hover {
                    color: var(--rr-common-white);
                }

                a {
                    font-family: 'Inter Tight';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: rgb(3 6 17 / 70%);


                    i {
                        font-size: 13px;
                        color: #030611;
                    }

                    &:hover {
                        color: #0030AD;

                        i {
                            color: #0030AD;
                        }
                    }
                }
            }
        }
    }

    &__social {
        display: flex;
        gap: 8px;

        a {
            color: var(--rr-common-white);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            font-size: 15px;
            background: #1DA0F1;
            border-radius: 50%;

            i {
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                font-size: 15px;
                background: transparent;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;

                &.fa-facebook-f {
                    background-color: #1877F2;
                }

                &.fa-linkedin-in {
                    background-color: #0A66C2;
                }

                &.fa-pinterest {
                    background-color: #CB2027;
                }
            }



            &:hover {
                color: #030611;
                background-color: #FECE00;

                i {
                    color: #030611;
                    background-color: #FECE00;
                }

                svg [fill="white"] {
                    fill: #030611;
                }
            }
        }
    }

    .newsletters-des {
        font-family: 'Inter Tight';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: rgb(3 6 17 / 70%);
        margin-bottom: 22px;
    }

    &__newsletters {
        p {
            opacity: 0.7;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            max-width: 233px;
            color: var(--rr-common-white);

            @include breakpoint(lg) {
                max-width: 100%;
            }
        }
    }

    &__form {
        max-width: 370px;

        & input {
            background: #FFFFFF;
            border-radius: 100px;
            padding-right: 130px;
            color: #030611 !important;

            @include tp-placeholder {
                color: #030611 !important;
                font-size: 15px;
                font-weight: 500;

            }

            @include breakpoint(sm) {
                padding-right: 30px;
            }
        }

        .rr-btn__theme-7 {
            background: #0030AD;
            border-radius: 100px;
            border: 0;
            font-size: 16px;
            padding: 7px 20px;
            position: absolute;
            right: 5px;
            top: 5px;
            color: #ffffff;

            .btn-wrap {
                span {
                    font-weight: 700;
                    color: var(--rr-text-body2);
                }
            }

            &:hover {
                .btn-wrap {
                    span {
                        color: var(--rr-common-white)
                    }
                }
            }

            @include breakpoint(sm) {
                position: inherit;
                right: 0px;
            }
        }
    }
}

// blog
.blog-4 {
    &__title {
        a {
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 34px;
            color: #030611;
            transition: all 0.3s ease-in-out;

            @include breakpoint(lg) {
                font-size: 19px;
                line-height: 28px;
            }

            &:hover {
                color: #0030AD;
            }
        }
    }

    &__content {
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 28px;
        padding-top: 28px;

        @include breakpoint(lg) {
            padding-left: 10px;
            padding-right: 10px;
        }

        @include breakpoint(sm) {
            padding-right: 10px;
        }
    }

    &__meta {
        margin-bottom: 12px;

        & ul {
            gap: 10px;
            display: flex;
            list-style: none;
            align-items: center;

            & li {
                & a {
                    font-size: 15px;
                    font-weight: 600;
                    padding: 1px 14px;
                    display: inline-block;
                    background: #0030AD;
                    color: #ffffff;
                    border-radius: 100px;
                }
            }
        }
    }

    &__item {
        padding: 10px;
        border-radius: 14px;
        border: 1px solid rgb(3, 6, 17, .16);
        margin-bottom: 30px;

        &:hover {
            .blog-4__thumb {
                img {
                    transform: scale(1.2);

                }
            }
        }
    }

    &__thumb {
        overflow: hidden;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s ease-in-out;

        }
    }

    &__dec {
        font-size: 16px;
        color: rgb(3 6 17 / 60%);
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 33px;
    }

    &__author {
        gap: 12px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &__thumb {
            width: 54px;
            height: 54px;
            overflow: hidden;
            border-radius: 50%;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__name a {
            font-size: 18px;
            font-weight: var(--rr-fw-bold);
            color: var(--rr-text-body2);
            transition: all 0.3s ease-in-out;

            &:hover {
                color: #0030AD;
            }
        }

        &__date {
            gap: 8px;
            display: flex;
            margin-top: 4px;
            align-items: center;
            flex-wrap: wrap;

            span {
                font-size: 15px;
                color: rgb(3 6 17 / 60%);
                font-weight: 500;
                padding-right: 8px;
                margin-right: 8px;
                position: relative;
                display: block;

                @include breakpoint(lg) {
                    font-size: 13px;
                }

                &:not(:last-child) {

                    &::after {
                        content: "";
                        width: 4px;
                        height: 4px;
                        background: #030611;
                        position: absolute;
                        border-radius: 50%;
                        right: -5px;
                        top: 50%;
                        opacity: 1;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

.blog-7__area {
    border-radius: 0 0 40px 40px;
    overflow: hidden;
}

.blog-7 {
    &__item {
        background: #F1F1F1;
        padding: 10px;
        border-radius: 14px;

        &:hover {
            & .blog-4__thumb {
                & img {
                    transform: scale(1.2);
                }
            }
        }
    }

    &__shape-1 {
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.blog-7-button-arrow {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(3, 6, 17, .14);
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    font-size: 12px;
    color: #171718;
    margin-left: 8px;
    transition: .3s;

    &:hover {
        background-color: #356DF1;
        border-color: #356DF1;
        color: #fff;
    }
}

//about-7
.section-6 {
    &__title {
        @include breakpoint(sm) {
            font-size: 28px;
            line-height: 38px;
        }
    }
}

.about-7 {
    &__content {

        .mt-primary-btn {
            background-color: #0030AD;
            color: #ffffff;

            i {
                margin-top: 5px;
            }
        }

        & P {
            font-size: 18px;
            color: rgb(3 6 17 / 60%);
            font-weight: 400;
            margin-bottom: 35px;
        }

        &__list {
            & ul {
                list-style: none;

                & li {
                    font-size: 16px;
                    color: #030611;
                    font-weight: 600;
                    border-radius: 4px;
                    margin-bottom: 30px;

                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    &__shape {
        bottom: -15px;
        left: 0;
    }

    &__button {
        .rr-btn__theme-7 {
            background: #FECE00;
            border-radius: 6px;
            font-size: 16px;
            font-weight: 700;
            color: #030611;
            border: 0;
            padding: 15px 33px;

            .btn-wrap {

                span {
                    color: #030611;
                }

                margin-left: 8px;
            }

            &:hover {

                .btn-wrap {

                    span {
                        color: var(--rr-common-white);
                    }
                }
            }
        }
    }
}

//choose-us-5
.choose-us-5 {
    .choose-us-5-wrap {
        background: #FFFFFF;
        border: 1px solid rgba(3, 6, 17, 0.1);
        border-radius: 15px;

        @include breakpoint(md) {
            border: 0;
        }

        .choose-5-item {
            text-align: center;
            border-right: 1px solid rgba(3, 6, 17, 0.1);
            padding: 50px 0;

            @include breakpoint(md) {
                border-right: 0;
                padding: 0 0;
            }

            .thumb {
                img {
                    width: auto;
                }
            }

            .content {
                .title {
                    a {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 32px;
                        color: #030611;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: #0030AD;
                        }

                        @include breakpoint(sm) {
                            font-size: 21px;
                        }
                    }
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: rgb(3 6 17 / 60%);
                    margin-bottom: 0;

                    @include breakpoint(sm) {
                        br {
                            display: none;
                        }
                    }
                }
            }
        }

        .choose-5-item-2 {
            border-right: 0;
        }
    }
}

//pricing-5
.pricing-5 {
    &__button {
        display: flex;
        justify-content: center;

        /* Toggle Wrapper */
        .toggle-pill {
            position: relative;
            width: 220px;
            height: 50px;
            background: #0030AD;
            border-radius: 30px;
            box-shadow: 0 6px 19px rgba(0, 0, 0, 0.15);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            cursor: pointer;
        }

        /* Text */
        .label {
            width: 50%;
            text-align: center;
            z-index: 2;
            font-size: 14px;
            font-weight: 600;
            color: #ffffff;
            transition: color 0.3s ease;
        }

        .label.active {
            color: #010915;
        }

        /* Sliding Button */
        .slider {
            position: absolute;
            top: 5px;
            left: 5px;
            width: calc(50% - 5px);
            height: 40px;
            background: #ffffff;
            border-radius: 25px;
            transition: transform 0.35s ease;
        }
    }

    .pricing-5-item {
        border: 1px solid rgba(3, 6, 17, 0.1);
        border-radius: 10px;
        padding: 50px 40px;
        text-align: center;
        transition: all 0.4s ease-in-out;

        &:hover {
            background-color: #0030AD;

            .title {
                color: #ffffff;
            }

            p {
                color: #ffffff;
            }

            .starting {
                color: #ffffff;
            }

            .pricing {
                .price {
                    color: #ffffff;
                }

                span {
                    color: #ffffff;
                }
            }

            .mt-primary-btn {
                background-color: #FFFFFF;
                color: #030611;
            }
        }

        .title {
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 32px;
            color: #030611;
            margin-bottom: 10px;
            transition: all 0.3s ease-in-out;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgb(3 6 17 / 70%);
            margin-bottom: 0;
            transition: all 0.3s ease-in-out;
        }

        .starting {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 12px;
            color: #030611;
            margin-top: 35px;
            margin-bottom: 35px;
            transition: all 0.3s ease-in-out;
        }

        .pricing {
            .price {
                font-style: normal;
                font-weight: 600;
                font-size: 50px;
                line-height: 30px;
                color: #030611;
                margin-bottom: 14px;
                transition: all 0.3s ease-in-out;
            }

            span {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 12px;
                color: rgb(3 6 17 / 70%);
                transition: all 0.3s ease-in-out;
            }
        }

        .mt-primary-btn {
            background-color: #030611;
            color: #ffffff;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            padding: 10.5px 30px;
            transition: all 0.3s ease-in-out;
        }
    }
}

//service-5
.service-5 {
    .service-5-wrapper {
        border: 1px solid rgba(3, 6, 17, 0.1);
        border-radius: 10px;

        @include breakpoint(md) {
            border: 0;
            border-radius: 0;
        }

        .service-5-bottom-border {
            margin-right: 0;
            margin-left: 0;

            &>* {
                padding-left: 0;
                padding-right: 0;

                @include breakpoint(md) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }

    .service-5-item {
        text-align: center;
        padding: 30px 0;

        img {
            width: auto;
        }

        .title {
            margin-bottom: 10px;

            a {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                color: #030611;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: #0030AD;
                }
            }
        }

        P {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgb(3 6 17 / 70%);
            margin-bottom: 27px;

            @include breakpoint(lg) {
                br {
                    display: none;
                }
            }
        }

        .service-5-btn {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #030611;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: #0030AD;
            }
        }
    }

    .service-5-item-2 {
        border-top: 1px solid rgba(3, 6, 17, 0.1);

        @include breakpoint(md) {
            border-top: 0;
        }
    }
}

//testimonial 5
.testimonial-section {
    overflow: hidden;

    .testimonial-section__inner {
        padding: 0 15px;
    }

    .testimonial-active {
        margin-left: -255px;
        margin-right: -307px;

        @include breakpoint(lg) {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }

    .section-title__info {
        .title {
            & span {
                font-weight: 400;
            }
        }
    }

    &__item {
        background: var(--white);
        border: 1px solid #E5E5E5;
        border-radius: 10px;
        padding: 39px 40px 33px 40px;

        @include breakpoint(md) {
            padding: 39px 30px 33px 30px;
        }
    }

    &__user-info {
        display: flex;
        justify-content: space-between;
        gap: 25px;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 27px;

        @include breakpoint(sm) {
            flex-wrap: wrap;
            gap: 0;
        }

        .icon {
            margin-top: 27px;
        }
    }

    &__author-box {
        .author-thumb {
            & img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .author-details {
            .name {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #0A0A0A;
                margin-top: 12px;
                margin-bottom: 5px;
            }

            .decs {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    &__content {
        margin-top: 24px;

        .decs {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #0A0A0A;

            @include breakpoint(xxl) {
                br {
                    display: none;
                }
            }
        }
    }

    &__inner {
        position: relative;

        .arrow {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top: 128px;
            left: -80px;
            z-index: 1;
            right: -80px;

            @media #{xl} {
                bottom: 0px;
                top: inherit;
                left: inherit;
                z-index: 1;
                right: inherit;
                position: inherit;
                justify-content: center;
                gap: 50px;
                margin-top: 40px;
            }

            @include breakpoint(sm) {
                gap: 30px;
            }
        }
    }
}

.testimonial-page {
    background: #FFFFFF;

    .testimonial-section__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        @include breakpoint(sm) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .testimonial-section__item {
        background: #F5F5F5;
    }
}

//hosting-5
.hosting_search-7 {
    &__area {
        margin-top: -156px;
    }

    &__widget {
        background: #FFFFFF;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 80px 15px;
        position: relative;
    }

    &__input {
        &__box {
            max-width: 660px;
            width: 100%;
            margin: 0 auto;

            @include breakpoint(sm) {
                max-width: 100%;
            }

            & input {
                border-radius: 6px;
                background: transparent;
                color: #030611 !important;
                padding: 31px 30px;
                padding-right: 240px;
                opacity: 1;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                border-radius: 100px;

                @include breakpoint(sm) {
                    padding-right: 40px;
                    padding: 24px 30px;
                }

                @include tp-placeholder {
                    color: #030611 !important;
                    font-size: 16px;
                    font-weight: 400;
                    opacity: .5;

                }
            }
        }
    }
}

.hosting-search-7 {
    &__button {
        right: 10px;
        top: 10px;

        .mt-primary-btn {
            background-color: #0030AD;
            color: #ffffff;
            padding: 7.5px 24px;
        }

        @include breakpoint(sm) {
            position: inherit;
            right: 0;
        }
    }

    &__select {
        &__demo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;

            @include breakpoint(sm) {
                justify-content: start;
            }

            & .select-demo {
                &-1 {
                    @include border-radius(4px);
                    border: 1.5px solid rgba(255, 255, 255, 0.20);
                    background: transparent;
                    color: #FF3535;
                    border: 1px solid rgba(3, 6, 17, 0.2);
                    border-radius: 100px;
                    font-size: 22px;
                    font-weight: 600;
                    padding: 4.5px 18.5px;


                    span {
                        color: #030611;

                        font-size: 14px;
                        font-weight: 600;
                    }
                }

                &-2 {
                    color: #58EFE6;
                }

                &-3 {
                    color: #0DF067;
                }

                &-4 {
                    color: #FF9C31;
                }

                &-5 {
                    color: #F0E70D;
                }
            }
        }
    }
}

.hosting-search-7__select {
    &.contact-us-1__select {
        &.select {
            top: 20px;
            right: 135px;

            &:focus {
                outline: none;
            }

            &:focus-visible {
                outline: none;
            }

            @include breakpoint(sm) {
                right: 10px;
                top: 12px;
            }

            #select {
                &:focus {
                    outline: none;
                }

                &:focus-visible {
                    outline: none;
                }
            }
        }

        & .nice-select {
            width: auto;
            height: auto !important;
            border: 0;
            background-position: calc(100% - 10px) 18px;
            background-image: url('../imgs/contact/arrow.svg');

            &:focus-visible {
                outline: none;
            }

            & .current {
                color: #030611;
                font-size: 16px;
                font-weight: 600;
                opacity: 0.6;
            }
        }
    }
}

/* Native select border remove */
.hosting-search-7__select select {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent;
}

/* Focus state remove */
.hosting-search-7__select select:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Nice-select plugin border remove */
.hosting-search-7__select .nice-select {
    border: none !important;
    box-shadow: none !important;
}

/* Nice-select focus / active remove */
.hosting-search-7__select .nice-select:focus,
.hosting-search-7__select .nice-select.open {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Dropdown arrow area border remove (sometimes culprit) */
.hosting-search-7__select .nice-select::after {
    border: none !important;
}