@use "../utilities" as *;

/**----------------------------------------
START: Home 6 css
----------------------------------------*/
//blog-6
.blog-6 {
    &__item {
        background: #FFFFFF;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1), 0px 4px 2px rgba(0, 0, 0, 0.1);
        border-radius: 14px;
    }

    &__thumb {
        a {
            img {}
        }
    }

    &__content {}

    &__meta {
        ul {
            li {
                a {
                    background: linear-gradient(180deg, #030611 0%, #3E3F41 100%);
                    border-radius: 100px;
                }
            }
        }
    }

    &__title {
        font-family: 'Inter Tight';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: #030611;

        @include breakpoint(lg) {
            font-size: 19px;
            line-height: 28px;
        }
    }

    &__dec {
        font-family: 'Inter Tight';
    }
}

//sponsor-section-6
.sponsor-section-6 {
    padding: 72px 70px 100px 70px;

    @include breakpoint(xl) {
        padding: 72px 10px 100px 10px;
    }

    @include breakpoint(lg) {
        padding: 72px 10px 100px 10px;
    }

    @include breakpoint(sm) {
        padding: 72px 10px 70px 10px;
    }

    .sponsor-section-bg {
        .heading {
            font-family: 'Inter Tight';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            color: #010915;
            text-align: center;
            margin-bottom: 30px;

        }
    }
}

//productivity-section
.productivity-section {
    .productivity-item {
        background: #FFFFFF;
        box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding-bottom: 10px;

        .thumb {
            margin: 0 auto;

            img {
                width: auto;
            }
        }

        .content {
            background: #F1F1F1;
            border-radius: 20px;
            text-align: center;
            padding: 22px 0 20px 0;
            margin: 0 15px 0 15px;

            @include breakpoint(lg) {
                padding: 22px 10px 20px 10px;
            }

            .title {
                margin-bottom: 5px;

                a {
                    font-family: 'Inter Tight';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 34px;
                    color: #030611;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: #0030AD;
                    }
                }
            }

            .dec {
                font-family: 'Inter Tight';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: rgb(3 6 17 / 70%);
                margin-bottom: 0;

                @include breakpoint(lg) {
                    br {
                        display: none;
                    }
                }
            }
        }
    }
}


.service-section-6 {
    .service-section-6-main-wrap {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        overflow: hidden;
        margin: 0;

        .service-col {
            padding: 0;
            border-right: 1px solid rgba(3, 6, 17, 0.1);
            border-bottom: 1px solid rgba(3, 6, 17, 0.1);

            @include breakpoint(md) {
                border-right: 0;
                border-bottom: 0;
            }

            @media (max-width: 2000px) {
                &:nth-child(3n) {
                    border-right: 0;
                }

                &:nth-child(n+4) {
                    border-bottom: 0;
                }
            }

            @include breakpoint(md) {
                &:nth-child(2n) {
                    border-right: 0;
                }
            }

            @media (max-width: 575px) {
                border-right: 0;
            }
        }

        .service-section-6-item {
            padding: 40px 30px;
            height: 100%;
            transition: all 0.3s ease-in-out;

            @include breakpoint(md) {
                padding: 15px 15px;
            }

            .icon-wrap {
                width: 70px;
                height: 70px;
                background: #F3F2F2;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    width: 58.33px;
                    height: 58.33px;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .title {
                margin-top: 25px;
                margin-bottom: 7px;

                a {
                    font-family: 'Inter Tight';
                    font-weight: 500;
                    font-size: 23px;
                    line-height: 34px;
                    color: #010915;

                    &:hover {
                        color: #0030AD;
                    }
                }
            }

            .dec {
                font-family: 'Inter Tight';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: rgb(1 9 21 / 70%);
                margin-bottom: 0;
                margin-bottom: 30px;

                @include breakpoint(xl) {
                    br {
                        display: none;
                    }
                }
            }

            .service-section-6-btn {
                font-family: 'Inter Tight';
                font-size: 16px;
                color: #010915;
                display: flex;
                align-items: center;
                gap: 20px;

                i {
                    width: 36px;
                    height: 36px;
                    background: #030611;
                    color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    transition: 0.3s;
                }

                &:hover {
                    color: #0030AD;

                    i {
                        background: #0030AD;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

//hero-6
.hero-6 {
    background: #000000;
    position: relative;
    padding: 320px 0 243px 0;

    @include breakpoint(xl) {
        padding: 240px 0 240px 0;
    }

    @include breakpoint(md) {
        padding: 100px 0 100px 0;
    }

    @include breakpoint(sm) {
        padding: 80px 0 80px 0;
    }

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #08395D;
    }

    .shapes {
        .shape-1 {
            position: absolute;
            width: 1168px;
            height: 1168px;
            left: -820px;
            top: 255px;
            background: #88CCFF;
            filter: blur(445px);
        }

        .shape-2 {
            position: absolute;
            width: 1148px;
            height: 1589px;
            left: 1423px;
            bottom: 301px;
            background: #88CCFF;
            filter: blur(445px);
        }

        .shape-3 {
            position: absolute;
            left: 781px;
            bottom: 26px;
            z-index: 1;

            @include breakpoint(xxl) {
                left: 250px;
            }

            @include breakpoint(lg) {
                left: 150px;
            }

            @include breakpoint(md) {
                display: none;
            }
        }

        .shape-4 {
            position: absolute;
            right: 163px;
            bottom: 56px;
            z-index: 1;

            @include breakpoint(xxl) {
                right: 163px;
            }

            @include breakpoint(lg) {
                right: 70px;
            }

            @include breakpoint(md) {
                display: none;
            }
        }

        .shape-5 {
            position: absolute;
            right: 95px;
            bottom: -47px;
            z-index: 1;

            @include breakpoint(xxl) {
                right: 95px;
            }

            @include breakpoint(md) {
                display: none;
            }
        }
    }

    .hero-img-wrap {
        top: calc(50% + -25px);

        @include breakpoint(xxl) {
            top: calc(50% + 0px);
        }

        @include breakpoint(xl) {
            transform: translateY(-47%);
        }

        @include breakpoint(lg) {
            transform: translateY(-35%);
        }

        @include breakpoint(md) {
            display: none;
        }
    }

    .hero-content {
        .section-title {
            font-family: 'Inter Tight';
            font-style: normal;
            font-weight: 700;
            font-size: 70px;
            line-height: 80px;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-bottom: 12px;

            @include breakpoint(xxl) {
                font-size: 50px;
                line-height: 60px;
            }

            @include breakpoint(lg) {
                font-size: 43px;
                line-height: 53px;
            }

            @include breakpoint(md) {
                br {
                    display: none;
                }
            }

            @include breakpoint(sm) {
                font-size: 28px;
                line-height: 38px;
            }
        }

        .dec {
            font-family: 'Inter Tight';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.6);
            border-bottom: 0;
            position: relative;

            @include breakpoint(xl) {
                br {
                    display: none;
                }
            }

            @include breakpoint(md) {
                max-width: 100%;
                width: 100%;

                br {
                    display: none;
                }
            }

            &::before {
                position: absolute;
                background: rgba(255, 255, 255, 0.1);
                content: '';
                bottom: 0;
                left: 0;
                height: 1px;
                width: 630px;

                @include breakpoint(md) {
                    width: 100%;
                }
            }
        }

        .hero-btn-wrap {
            .mt-primary-btn {
                background: linear-gradient(0deg, #FFFFFF 0%, #CFCFCF 100%);
                padding: 12.5px 37px;
            }

            .dec-2 {
                font-family: 'Urbanist';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}

//testimonial-6
.testimonial-6 {
    overflow: hidden;
    padding-bottom: 90px;

    @include breakpoint(lg) {
        padding-bottom: 30px;
    }

    .heading-wrap {
        margin-bottom: 25px;

        .title {
            font-family: 'Inter Tight';
            font-weight: 500;
        }
    }

    &__inner {
        margin-left: -125px;
        margin-right: -125px;

        @include breakpoint(lg) {
            margin-left: 0;
            margin-right: 0;
            padding: 0 15px;
        }
    }

    &-active {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__item {
        padding: 40px 40px 55px 40px;
        background: #FFFFFF;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1), 0px 4px 2px rgba(11, 23, 40, 0.1);
        border-radius: 10px;

        @include breakpoint(xxl) {
            padding: 20px;
        }
    }

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 25px;

        .icon {
            ul {
                display: flex;
                align-items: center;
                gap: 5px;

                li {
                    list-style: none;
                }
            }
        }
    }

    &__dec {
        font-family: 'Inter Tight';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 26px;
        color: rgb(1 9 21 / 60%);
        margin-bottom: 32px;

        @include breakpoint(xxl) {
            br {
                display: none;
            }
        }
    }

    &__author {
        display: flex;
        align-items: center;
        gap: 14px;
        flex-wrap: wrap;

        img {
            width: 56px;
            height: 56px;
            object-fit: cover;
            border-radius: 50%;
        }

        .author-title {
            h3 {
                font-family: 'Inter Tight';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                color: #010915;
                margin-bottom: 2px;
            }

            p {
                font-family: 'Inter Tight';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 15px;
                color: rgba(1, 9, 21, 0.6);
                margin-bottom: 0;
            }
        }
    }

    &__button {
        gap: 70px;
        justify-content: center !important;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        padding: 10px;
        max-width: 250px;
        margin: 50px auto 0 auto;
    }

    &__button-arrow {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        font-size: 18px;
        transition: all 0.3s ease;
        background: linear-gradient(270deg, #030611 0%, #3E3F41 100%);
        border-radius: 50px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        color: #FFFFFF;
        transition: all 0.3s ease-in-out;

        i {
            font-size: 20px;
        }

        &:hover {
            background: linear-gradient(360deg, #6000FF 0%, #3A0099 100%);
        }

        &-prev {
            background-color: #1c1e22;
            color: #fff;
            border: none;


            &:hover {
                background: linear-gradient(360deg, #6000FF 0%, #3A0099 100%);
            }
        }

        &-next {
            background-color: #4a10e6;
            color: #fff;
            border: none;

            &:hover {
                background: linear-gradient(360deg, #6000FF 0%, #3A0099 100%)
            }
        }
    }
}

//card-control
.card-control {
    .heading-wrap {
        .title {
            font-weight: 500;
        }
    }

    &__item {
        background: #F1F1F1;
        border-radius: 20px;
        text-align: center;
        padding: 30px 0 52px 0;

        p {
            font-family: 'Inter Tight';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 26px;
            color: #010915;
            text-align: center;
            margin-bottom: 0;
            margin-top: 18px;
        }

        &-2 {
            p {
                margin-top: 38px;
            }
        }

        &-3 {
            padding: 86px 0 58px 0;
        }
    }
}

//bank-card
.bank-card {
    &__thumb {
        position: relative;

        img {
            @include breakpoint(xl) {
                width: 100%;
            }
        }

        .author-wrap {
            background: rgba(255, 255, 255, 0.1);
            position: absolute;
            backdrop-filter: blur(25px);
            border-radius: 40px;
            max-width: 390px;
            width: 100%;
            bottom: 10px;
            left: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px;

            @include breakpoint(xl) {
                max-width: 364px;
            }

            @include breakpoint(lg) {
                max-width: 295px;
                flex-wrap: wrap;
                row-gap: 10px;
            }

            .text-wrap {
                .hero-author {
                    @include flex-vertical-center;
                    column-gap: 15px;
                    flex-wrap: wrap;
                    row-gap: 15px;

                    ul {
                        li {
                            display: inline-flex;

                            &:not(:last-of-type) {
                                margin-right: -14px;
                            }

                            img {
                                border: 2px solid #C28DB4;
                                border-radius: 50%;
                                height: 45px;
                                width: 45px;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .dec {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 20px;
                    letter-spacing: -0.02em;
                    color: #FFFFFF;
                    margin-bottom: 0;
                    margin-top: 10px;
                }
            }

            .bank-btn {
                width: 52px;
                height: 52px;
                background: #FFFFFF;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease-in-out;
                color: #030611;

                &:hover {
                    background: linear-gradient(180deg, #6000FF 0%, #3A0099 100%);
                    color: #FFFFFF;
                }
            }
        }
    }

    &__content {
        padding-left: 35px;

        @include breakpoint(md) {
            padding-left: 0;
        }

        .count-wrap {
            border-top: 1px solid rgba(3, 6, 17, 0.2);
            display: flex;
            gap: 35px;
            row-gap: 10px;
            margin-top: 60px;

            @include breakpoint(xl) {
                margin-top: 20px;
            }

            @include breakpoint(sm) {
                flex-wrap: wrap;
            }

            .count-item {
                padding-top: 25px;

                @include breakpoint(xl) {
                    padding-top: 20px;
                }

                @include breakpoint(lg) {
                    padding-top: 0;
                }

                .title {
                    font-family: 'Inter Tight';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 50px;
                    line-height: 60px;
                    color: #010915;
                    margin-bottom: 0;

                    span {
                        font-family: 'Inter Tight';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 50px;
                        line-height: 60px;
                        color: #010915;
                    }
                }

                .subtitle {
                    font-family: 'Inter Tight';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: rgba(1, 9, 21, 0.8);
                    margin-bottom: 16px;
                }

                .dec {
                    font-family: 'Inter Tight';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    color: #010915;
                    margin-bottom: 0;

                    @include breakpoint(xl) {
                        br {
                            display: none;
                        }
                    }
                }
            }

            .count-item-1 {
                padding-top: 25px;
                padding-left: 32px;
                border-left: 1px solid rgba(3, 6, 17, 0.2);

                @include breakpoint(xl) {
                    padding-top: 20px;
                    padding-left: 0;
                    border-left: 0;
                }

                @include breakpoint(lg) {
                    padding-top: 0;
                }
            }
        }
    }

    &__title-wrap {
        .dec {
            font-family: 'Inter Tight';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: rgb(1 9 21 / 70%);
            margin-bottom: 0;
        }
    }

    &__title {
        font-family: 'Inter Tight';
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 60px;
        color: #010915;
        margin-bottom: 16px;

        @include breakpoint(xl) {
            font-size: 36px;
            line-height: 46px;
        }

        @include breakpoint(sm) {
            font-size: 28px;
            line-height: 38px;
        }
    }

    &__btn {
        background: linear-gradient(90deg, #3E3F41 0%, #25272D 41.83%, #030611 100%);
        border-radius: 100px;
        font-family: 'Inter Tight', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        display: inline-flex;
        align-items: center;
        gap: 14px;
        padding: 9px 8px 9px 26px;
        margin-top: 42px;
        text-decoration: none;
        border: none;
        cursor: pointer; 
        transition: all 0.4s ease-in-out;
        position: relative;
        overflow: hidden;

        @include breakpoint(xl) {
            margin-top: 20px;
        }

        &:focus {
            color: #FFFFFF;
            outline: none;
        }

        &:hover { 
            background: linear-gradient(180deg, #6000FF 0%, #3A0099 100%);
            color: #FFFFFF;

            i {
                background: #030611;
                color: #FFFFFF;
                transform: scale(1.05);
            }
        }

        i {
            width: 40px;
            height: 40px;
            background: linear-gradient(180deg, #FFFFFF 0%, #999999 100%);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #030611;
            transition: all 0.3s ease;
        }
    }
}

//footer-6
.footer-6 {

    &__area-common {
        padding-bottom: 0 !important;
    }
    &__copyright {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

.footer-6__widget .footer-4__widget-title-2 .title-footer-2 {
    margin-bottom: 14px;
}

.footer-6__form .rr-btn__theme-7 {
    background: linear-gradient(180deg, #030611 0%, #3E3F41 100%);
}